
<%= current_user.name %>
<div class="weui-cells">
  <a class="weui-cell weui-cell_access" href="<%= new_wap_user_path %>">
    <div class="weui-cell__hd"><i class="weui-icon-success"></i></div>
    <div class="weui-cell__bd">
      <p>个人信息</p>
    </div>
    <div class="weui-cell__ft"></div>
  </a>
  <a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd"><i class="weui-icon-success-no-circle"></i></div>
    <div class="weui-cell__bd">
      <p>密码设置</p>
    </div>
    <div class="weui-cell__ft"></div>
  </a>
  <a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd"><i class="weui-icon-circle"></i></div>
    <div class="weui-cell__bd">
      <p>如何加入会员</p>
    </div>
    <div class="weui-cell__ft"></div>
  </a>
  <a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd"><i class="weui-icon-warn"></i></div>
    <div class="weui-cell__bd">
      <p>加入会员有何福利</p>
    </div>
    <div class="weui-cell__ft"></div>
  </a>
  <a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd"><i class="weui-icon-download"></i></div>
    <div class="weui-cell__bd">
      <p>支付遇到问题怎么办</p>
    </div>
    <div class="weui-cell__ft"></div>
  </a>
  <a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd"><i class="weui-icon-info-circle"></i></div>
    <div class="weui-cell__bd">
      <p>为何提价</p>
    </div>
    <div class="weui-cell__ft"></div>
  </a>
  <a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd"><i class="weui-icon-cancel"></i></div>
    <div class="weui-cell__bd">
      <p>为何提示</p>
    </div>
    <div class="weui-cell__ft"></div>
  </a>

</div>

<%=  render 'layouts/wap_footer' %>