
.left{
    height:auto;
    width:13%;
    float: left;
    border-right: thin;
}
.right{
    height: auto;
    width: 85%;
    float: right;
}

.add{
    text-align: right;
    padding-right: 5%;
    padding-bottom: 10px;
}
.add_agent{
    padding-right: 70%;
}
.session_body{
    height: 100%;
    background: url(/login.png);
}

.session{
    text-align: center;
    padding-top: 250px;
    padding-left: 35%;
    padding-right: 30%;
}
