<!DOCTYPE html>
<html>
<head>
  <title>Appointment</title>
  <%= stylesheet_link_tag    "application", "/css/customize", :media => "all" %>
  <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
  <%= javascript_include_tag "application", "/js/bootstrap-datetimepicker.js" %>
  <%= csrf_meta_tags %>
</head>
<body class="session_body">

<%= yield %>

</body>
</html>
